[flake8]
max-line-length = 120

exclude = 
    .git
    __pycache__
    .venv
    venv
    env
    .env    
per-file-ignores = 
    __init__.py:F401
max-complexity = 10
select = 
    E
    W
    F
    C90
